body {
    display: flex;
    justify-content:center;
    align-items:center;
    height: 100vh;
    margin: 0;
    background-color: hsl(0, 4%, 5%);
  }
  
  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
    background-color: hsl(0, 100%, 100%);
  }
  
  .cell {
    width: 100px;
    height: 100px;
    background-color: hsl(148, 33%, 29%);
    display: flex;
    justify-content:center;
    align-items:center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .result {
    margin-top: 20px;
    font-size: 1.5em;
    background-color: #96e2c3;
  }
  h1{
    color: #4af853;
    text-align:start;
  }
  h2{
    color: #aae7d3;
    font-size: small;
    align-items: start;
  }